body {
    background-image: url("../sky.jpg");
    background-repeat: repeat;
    background-size:15% 15%;
}
img {
    width:15%;
    height:15%;
    margin: auto;
    display: block;
}

p {
    font-size:12px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align:center;
    color:black;
    background-color:white;
}

.a {
    font-family:cursive;
    font-size:20px;
    color:red;
}
    